<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/layout}">
<head>
    <title>Home Page</title>
</head>

<body>

<div class="col" layout:fragment="content">

    <div>
        <div>File name: <b th:text="${doc.docName}">example.txt</b></div>
        <div>Document ID: <b th:text="${doc.docId}">145454a1fs45dff4a</b></div>
        <div>MediaType: <b th:text="${doc.mediaType}">text/doc</b></div>
        <div>Size:
            <b th:if="${doc.size}<1024" th:text="${doc.size}+b">1041 b</b>
            <b th:if="${doc.size}>1024 and ${doc.size}<1048576" th:text="${doc.size/1024}+' '+Kb">512 Kb</b>
            <b th:if="${doc.size}>1048576 and ${doc.size}<1073741824" th:text="${doc.size/1048576}+' '+Mb">10 Mb</b>
            <b th:if="${doc.size}>1073741824" th:text="${doc.size/1073741824}+' '+Gb3">1 Gb</b>
        </div>
        <div>Uploader: <b th:text="${doc.uploader}">Username</b></div>
        <div>Upload date:
            <b th:if="${doc.uploadDateTime != null}"
               th:text="${doc.uploadDateTime.toLocalDate()} + ' '
                    + ${doc.uploadDateTime.toLocalTime().hour} + ':'
                    + ${doc.uploadDateTime.toLocalTime().minute} + ':'
                    + ${doc.uploadDateTime.toLocalTime().second}"></b>
            <b th:if="${doc.uploadDateTime == null}">Never</b>
        </div>

        <div th:if="${doc.lastEditDateTime != null}">Last changes:
            <b th:text="${doc.lastEditDateTime.toLocalDate()} + ' '
                    + ${doc.lastEditDateTime.toLocalTime().hour} + ':'
                    + ${doc.lastEditDateTime.toLocalTime().minute} + ':'
                    + ${doc.lastEditDateTime.toLocalTime().second}"></b>
        </div>

        <div>Visible:
            <b th:if="${doc.publicDocument}">All</b>
            <b th:if="${!doc.publicDocument}">User only</b>
        </div>
        <div> Description: <b th:text="${doc.description}">description</b></div>
        <br>
    </div>

    <div>
        <a class="btn btn-success" th:href="@{/docs/download/{docId}(docId=${doc.docId})}" download> Download</a>
        <span th:if="${doc.uploader} == ${#authorization.authentication.name}">
                    <button class="btn btn-warning" type="button" data-toggle="collapse" data-target="#editForm"
                            aria-expanded="false" aria-controls="collapseExample">Edit</button>
                <a class="btn btn-danger" th:href="@{/docs/delete/{docId}(docId=*{docId})}">Delete</a>
        </span>
    </div>

    <div class="collapse" id="editForm" th:if="${doc.uploader} == ${#authorization.authentication.name}">
        <div class="card card-body">
            <div>
                <form class="needs-validation" th:action="@{/docs/edit/{docId}(docId=*{docId})}" method="post">
                    <div class="form-group">
                        <label for="docName">Document name:</label>
                        <input type="text" class="form-control" id="docName" th:value="${doc.docName}"
                               name="docName">
                    </div>
                    <div class="form-group">
                        <label for="description">Description:</label>
                        <input type="text" class="form-control" id="description" th:value="${doc.description}"
                               name="description">
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input th:if="${doc.publicDocument}" class="form-check-input" type="checkbox" name="publicDocument" checked>
                            <input th:if="${!doc.publicDocument}" class="form-check-input" type="checkbox" name="publicDocument">
                            Public document
                        </label>
                    </div>
                    <div class="form-group">
                        <br>
                        <button type="submit" class="btn btn-dark">Comfirm</button>
                    </div>
                </form>
            </div>
        </div>
    </div>



<!--    <iframe width="100%" height="750"-->


<!--            src="http://www.africau.edu/images/default/sample.pdf"-->
<!--            th:src="${doc.getRawFile()}">-->

<!--        document preview WIP <br><br>-->
<!--        https://poi.apache.org/download.html <br>-->
<!--        https://github.com/mozilla/pdf.js-->
<!--    </iframe>-->


</div> <!-- fragment.content -->


</body>
</html>





