<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/layout}">
<head>
    <title>Home Page</title>
</head>

<body>

<div class="col" layout:fragment="content">

    <div>
        <form th:action="@{/docs/search}" method="post">
            <input type="search" name="docName">
            <input type="submit" value="Search" class="btn-info">
        </form>
        <br>
    </div>

    <div>
        <table class="documentList" border="2">
            <thead align="center">
            <tr>
                <!--    todo change text to icons    -->
                <!--        todo content width to proportions-->
                <th width="100">file type</th>
                <th width="300">Document name</th>
                <th width="100">Tags</th>
                <!--                <th width="2500">Description</th>-->
                <th width="150">Uploaded</th>
                <th width="150">Edited</th>
                <th width="100">Size</th>
                <th width="200">Author</th>
                <th width="80">Visible</th>
                <th width="80">Download</th>
                <th width="80" sec:authorize="hasRole('SUPER_ADMIN')">Delete</th>
                <th width="80" sec:authorize="hasRole('ADMIN_DOCUMENT')">Delete</th>
                <!--    Просмотры:25501-->
                <!--    Скачана:2307 раз-->
            </tr>
            </thead>

            <tbody align="center" th:each="doc : ${docList}">
            <tr th:object="${doc}">
                <span th:if="*{publicDocument or (uploader == #authorization.authentication.name) }">
                <!--     todo   picture depends on mediaType -->
                <td th:text="*{mediaType}">file type</td>
                <td><a th:href="@{/docs/{docId}(docId=*{docId})}" th:text="*{docName}">Kerman</a></td>
                    <!--                <td th:text="*{docName}">695462.pdf</td>-->
                <td th:if="*{tags.size() > 0}" th:text="*{tags}">tag</td>
                <td th:if="*{tags.size() < 1}"></td>
                    <!--                <td th:text="*{description}">description here</td>-->

                <td th:if="*{uploadDateTime != null}"
                    th:text="*{uploadDateTime.toLocalDate()} + ' '
                    + *{uploadDateTime.toLocalTime().hour} + ':'
                    + *{uploadDateTime.toLocalTime().minute} + ':'
                    + *{uploadDateTime.toLocalTime().second}">
                    01.01.2020
                </td>
                <td th:if="*{uploadDateTime == null}" th:text="Unknown">Unknown</td>
                    <!--     todo    format time to delete nanos -->
                <td th:if="*{lastEditDateTime != null}"
                    th:text="*{lastEditDateTime.toLocalDate()} + ' '
                    + *{lastEditDateTime.toLocalTime().hour} + ':'
                    + *{lastEditDateTime.toLocalTime().minute} + ':'
                    + *{lastEditDateTime.toLocalTime().second}">
                    10.10.2020
                </td>
                <td th:if="*{lastEditDateTime == null and uploadDateTime != null}">Never</td>
                <td th:if="*{lastEditDateTime == null and uploadDateTime == null}">Unknown</td>
                <td th:if="*{size}<1024" th:text="*{size}+' b'">size</td>
                <td th:if="*{size}>1024 and *{size}<1048576" th:text="*{size/1024}+' Kb'">size</td>
                <td th:if="*{size}>1048576 and *{size}<1073741824" th:text="*{size/1048576}+' Mb'">size</td>
                <td th:if="*{size}>1073741824" th:text="*{size/1073741824}+' Gb'">size</td>
                <td th:text="*{uploader}">Jeb</td>
                <td>
                    <span th:if="*{publicDocument}">Public</span>
                    <span th:if="*{!publicDocument}">Private</span>
                </td>

                <td>
                    <a th:href="@{/docs/download/{docId}(docId=*{docId})}" class="btn btn-success btn-sm" download>Download</a>
                </td>
                <td sec:authorize="hasRole('SUPER_ADMIN')">
                    <a th:href="@{/docs/delete/{docId}(docId=*{docId})}" class="btn btn-danger btn-sm">Delete</a>
                </td>
                <td sec:authorize="hasRole('ADMIN_DOCUMENT')">
                    <a th:href="@{/docs/delete/{docId}(docId=*{docId})}" class="btn btn-danger btn-sm">Delete</a>
                </td>
                </span>
            </tr>

            </tbody>
        </table>
        <br>
    </div>

    <p>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample"
                aria-expanded="false" aria-controls="collapseExample">
            Upload File
        </button>
    </p>
    <div class="collapse" id="collapseExample">
        <div class="card card-body">
            <div>
                <form class="needs-validation" th:action="@{/docs/add}" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="docName">Document name:</label>
                        <input type="text" class="form-control" id="docName" placeholder="Enter document name"
                               name="docName">
                    </div>
                    <div class="form-group">
                        <label for="description">Description:</label>
                        <input type="text" class="form-control" id="description" placeholder="Enter description"
                               name="description">
                    </div>
                    <div class="form-group">
                        <label for="tags">Tags:</label>
                        <input type="text" class="form-control" id="tags" placeholder="Enter tags"
                               name="tags">
                        <small id="emailHelp" class="form-text text-muted">Input tags space separated</small>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" name="publicDocument"> Public document
                        </label>
                    </div>
                    <div>
                        <p>Max file size 300 Mb, supported: pdf, txt, doc)</p>
                        <div class="form-control-file">
                            <label for="customFile">Choose file</label>
                            <input type="file" name="file" id="customFile" placeholder="choose" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <br>
                        <button type="submit" class="btn btn-dark">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


</div> <!-- fragment.content -->

</body>
</html>