<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/layout}">
<head>
    <title>Home Page</title>
</head>

<body>

<div class="col" layout:fragment="content">
    <div>
        <form th:action="@{/docs/search}" method="post">
            <input type="search" name="docName">
            <input type="submit" value="Search" class="btn-info">
        </form>
    </div>
    <div><br></div>

    <div>


        <table class="documentList" border="2">
            <thead align="center">
            <tr>
                <!--    todo change text to icons    -->
                <!--        todo contant width to proportions-->
                <th width="100">file type</th>
                <th width="300">File name</th>
                <th width="300">Tags</th>
                <th width="100">Upload Date</th>
                <th width="100">Edit Date</th>
                <th width="100">size</th>
                <th width="200">Author</th>
                <!--                <th width="80">Open</th>-->
                <th width="80">Download</th>
                <th width="80">Delete</th>
                <!--    Просмотры:25501-->
                <!--    Скачана:2307 раз-->
            </tr>
            </thead>

            <tbody align="center" th:each="doc : ${docList}">
            <tr th:object="${doc}">
                <!--     todo   picture depends on mediaType -->
                <td th:text="*{mediaType}">file type</td>
                <td><a th:href="@{/docs/{docId}(docId=*{docId})}" th:text="*{docName}">Kerman</a></td>
                <!--                <td th:text="*{docName}">695462.pdf</td>-->
                <td th:if="*{tags.size() > 0}" th:text="*{tags}">tag</td>
                <td th:if="*{tags.size() < 1}"></td>
                <td th:if="*{uploadDateTime != null}" th:text="*{uploadDateTime.toLocalDate()}">01.01.2020</td>
                <td th:if="*{uploadDateTime == null}" th:text="Unknown">Unknown</td>
                <!--     todo    format time to delete nanos -->
                <td th:if="*{lastEditDateTime != null}" th:text="*{lastEditDateTime.toLocalDate()}">10.10.2020</td>
                <td th:if="*{lastEditDateTime == null and uploadDateTime != null}"
                    th:text="*{uploadDateTime.toLocalDate()}">01.01.2020
                </td>
                <td th:if="*{lastEditDateTime == null and uploadDateTime == null}" th:text="Unknown">Unknown</td>
                <td th:if="*{size}<1024" th:text="*{size}+b">size</td>
                <td th:if="*{size}>1024 and *{size}<1048576" th:text="*{size/1024}+' '+Kb">size</td>
                <td th:if="*{size}>1048576 and *{size}<1073741824" th:text="*{size/1048576}+' '+Mb">size</td>
                <td th:if="*{size}>1073741824" th:text="*{size/1073741824}+' '+Gb3">size</td>
                <td th:text="*{uploader}">Jeb</td>

                <!--                <td><a th:href="@{/docs/{docId}(docId=*{docId})}">Open</a></td>-->

                <td><a th:href="@{/docs/download/{docId}(docId=*{docId})}" class="btn btn-success" download>Download</a>
                </td>
                <td><a th:action="@{/docs/delete/{docId}(docId=*{docId})}" class="btn btn-danger">Delete</a></td>
            </tr>
            </tbody>
        </table>
        <br>
        <div>
            <a th:href="@{/docs/add}" class="btn btn-dark">Add doc</a>
        </div>

    </div>
</div> <!-- fragment.content -->

</body>
</html>