<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Registration</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="../../static/assets/img/favicon.ico"/>
    <link rel="stylesheet" href="../../static/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/assets/css/style.css">

    <link rel="stylesheet" th:href="@{/static/bootstrap/bootstrap.min.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/resources/css/bootstrap.min.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/resources/css/style.css}" type="text/css"/>
</head>

<body>


<div class="container">
    <div class="col-sm-4 sign-up--form order-first order-lg-last">
        <div class="h4 text-center">
            <p>Registration</p>
            <hr>
        </div>
        <div class="row">
            <form class="needs-validation col mx-auto" action="/registration" method="post" novalidate>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input class="form-control form-control-lg" name="username" type="text"
                           id="username" placeholder="Enter username here" required autofocus
                           pattern="[\dA-Za-z]{2,32}"
                           title="Use only latin letters and numbers with length 2 to 32 symbols">
                    <div class="invalid-feedback">Please fill out this field.</div>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input class="form-control form-control-lg" name="password" type="password"
                           id="password" placeholder="Enter password here" required>
                    <!--               uncomment to use password validation       -->
                    <!--               pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" -->
                    <!--               title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters">-->
                    <div class="invalid-feedback">Please fill out this field.</div>
                </div>
                <div class="form-group">
                    <label for="password2">Confirm Password</label>
                    <input class="form-control form-control-lg" name="password2" type="password"
                           id="password2" placeholder="Confirm your password" required>
                    <div class="invalid-feedback">Please fill out this field.</div>
                </div>
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input class="form-control form-control-lg" name="email" type="text" id="email"
                           placeholder="Enter email here" required>
                    <div class="invalid-feedback">Please fill out this field.</div>
                </div>
                <div>
                    By clicking Submit, you agree to our
                    <a href="../../static/terms.html" th:href="@{../../static/terms.html}">Terms</a>
                    and that you have read our
                    <a href="../../static/policy.html" th:href="@{../../static/policy.html}">Data Use Policy</a>
                    <!--                    , including our-->
                    <!--                    <a href="../static/cookie.html" th:href="@{../static/cookie.html}">Cookie Use</a>-->
                </div>
                <div>
                    <button type="submit" class="btn btn-success primary-lg">Create account</button>
                </div>
            </form>
            <br>
        </div>
    </div>
</div>


<script>
    // Disable form submissions if there are invalid fields
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Get the forms we want to add validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>
</body>
</html>
