<div th:fragment="navbar">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <a class="navbar-brand" href="/" th:href="@{/}">SiteName</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="../../templates/documentList.html" th:href="@{/docs}">Document List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../../templates/documentList.html" th:href="@{/users}">User List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       href="../../templates/profile.html" th:href="@{/user/{id}(id=${#authentication.name})}"
                       sec:authorize="authenticated">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../../templates/adminPage.html" sec:authorize="hasAuthority('ADMIN')"
                       th:href="@{/admin}">Admin Page</a>
                </li>
            </ul>
        </div>

        <div>
            <div>
                <span sec:authorize="authenticated" sec:authentication="name">Username</span>
                <span sec:authorize="anonymous">anonymous</span>
                <a class="btn btn-outline-primary" href="#" sec:authorize="hasAuthority('USER')" th:href="@{/logout}">Log Out</a>
                <a class="btn btn-outline-primary" href="#" sec:authorize="anonymous" th:href="@{/login}">Log In</a>
            </div>
        </div>

    </nav>

</div>