<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/layout}">
<head>
    <title>Home Page</title>
</head>

<body>


    <div class="col" layout:fragment="content">
        <div>
            <table border="1">
                <tr>
                    <th width="120">Username</th>
                    <td th:text="${user.username}">Gosling</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td th:text="${user.email}">Example@mail.com</td>
                </tr>
                <tr>
                    <th>Roles</th>
                    <td th:text="${user.roles}">USER</td>
                </tr>
                <tr>
                    <th>Registered Date</th>
                    <td th:text="${user.registrationDate}">20/11/2015</td>
                </tr>
                <tr>
                    <th>Document uploaded</th>
                    <td th:text="${user.createdDocuments.size()}">5</td>
                </tr>
                <tr>
                    <th>Status</th>
                    <td th:if="${!user.blocked}">Active</td>
                    <td th:if="${user.blocked}">Blocked</td>
                </tr>
            </table>
        </div>

        <div><a href="/user/changePassword">Change password</a></div>
        <div><a href="/user/changeEmail">Change email</a></div>

        <div sec:authorize="hasAuthority('ADMIN')">
            <a href="/admin/changeRole/{username}(username = ${user.name}})">Change role</a>
        </div>

    </div> <!-- fragment.content -->

</body>
</html>