<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/layout}">
<head>
    <title>Home Page</title>
</head>

<body>

    <div class="col" layout:fragment="content">
        <div>
            <p> Email was sent at</p>
            <p><strong th:text="${email}">Example@email.com</strong></p>
            <p> Follow the link in email to activate your account</p>
        </div>
        <div>
            <p>
                if you have not received your message, </p>
            <p>
                <a href="#" th:href="@{/resendActivationCode/{email}(email=${email})}">send email again</a>
            </p>
        </div>
    </div> <!-- fragment.content -->

</body>
</html>