<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/layout}">
<head>
    <title>Home Page</title>
</head>

<body>


<div class="col" layout:fragment="content">
    <div>
        User not found
    </div>

    <div><a href="/users/all">Return</a></div>

</div> <!-- fragment.content -->

</body>
</html>