<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/layout}">
<head>
    <title>User list</title>
</head>

<body>

<div class="col" layout:fragment="content">
    <div>
        <form th:action="@{/users/search}" method="post">
            <input type="search" name="username">
            <input type="submit" value="Search" class="btn-info">
        </form>
    </div>
    <div><br></div>
    <table class="users" border="2">
        <thead align="center">
        <tr>
            <th width="250">User name</th>
            <th width="100">Registration Date</th>
            <th width="100">Document uploaded</th>
            <th width="100">Roles</th>
            <th width="100">Status</th>
            <th>Block Reason</th>
            <th sec:authorize="hasAuthority('ADMIN')">Block</th>
            <th sec:authorize="hasAuthority('ADMIN')">Delete</th>
            <th sec:authorize="hasAuthority('ADMIN')">Delete</th>
        </tr>
        </thead>
        <tbody align="center" th:each="user : ${userList}">
        <tr th:object="${user}">

            <td><a href="#" th:href="@{/users/{username}(username=*{username})}" th:text="*{username}">Kerman</a></td>
            <td th:text="*{registrationDate}">15.11.2008</td>
            <td th:text="*{createdDocuments.size()}">10</td>
            <td th:text="*{roles}">USER</td>

            <td th:if="*{!active}">Not Activated</td>
            <td th:if="*{blocked}">Blocked</td>
            <td th:if="(*{active}) and (*{!blocked})">Active</td>

            <td th:text="*{blockReason}">block reason</td>

            <td sec:authorize="hasAuthority('ADMIN')" th:if="*{!blocked}" class="">
                <form th:action="@{/admin/users/block}" method="post">
                    <input type="hidden" name="username" th:value="*{username}">
                    <!--                    todo modal form for ban reason-->
                    <input type="hidden" name="reason" value="no reason">
                    <input type="submit" value="block" class="btn-warning">
                </form>
            </td>

            <td sec:authorize="hasAuthority('ADMIN')" th:if="*{blocked}">
                <form th:action="@{/admin/users/unblock}" method="post">
                    <input type="hidden" name="username" th:value="*{username}">
                    <input type="submit" value="unblock" class="btn-success">
                </form>
            </td>

            <td sec:authorize="hasAuthority('ADMIN')">
                <form th:action="@{/admin/users/safeDelete}" method="post">
                    <input hidden="hidden" type="text" name="username" th:value="*{username}">
                    <input type="submit" value="Delete user only" class="btn-danger">
                </form>
            </td>

            <td sec:authorize="hasAuthority('ADMIN')">
                <form th:action="@{/admin/users/safeDelete}" method="post">
                    <input type="hidden" name="username" th:value="*{username}">
                    <input type="submit" value="Delete with documents" class="btn-danger">
                </form>
            </td>

        </tr>
        </tbody>
    </table>
</div> <!-- fragment.content -->

</body>
</html>