<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/layout}">
<head>
    <title>Home Page</title>
</head>

<body>

    <div class="col" layout:fragment="content">

        <div>
            <table class="users" border="2">
                <thead align="center">
                <tr>
                    <!--    todo change text to icons    -->
                    <!--        todo contant width to proportions-->
                    <th width="300">User name</th>
                    <th width="100">Registered Date</th>
                    <th width="100">Document uploaded</th>
                    <th width="100">Roles</th>
                    <th width="100">is active</th>
                    <th width="100">is blocked</th>
                    <th width="100">block reason</th>
                    <th width="80">Open Profile</th>
                    <th width="80">Block</th>
                    <th width="80">Unblock</th>
                    <th width="80">Delete</th>

                </tr>
                </thead>
                <tbody align="center" th:each="user : ${userList}">
                <tr th:object="${user}">
                    <td th:text="*{username}">Kerman</td>
                    <td th:text="*{registrationDate}">15.11.2008</td>
                    <td th:text="*{createdDocuments.size()}">10</td>
                    <td th:text="*{roles}">USER</td>
                    <td th:text="*{active}">true</td>
                    <td th:text="*{blocked}">false</td>
                    <td th:text="*{blockReason}">spam</td>
                    <td><a href="../templates/profile.html" th:href="@{/user/{username}(id=*{username})}">Open</a></td>
                    <td><a href="#" th:href="@{/admin/block/{username}(username=*{username})}">Block</a></td>
                    <td><a href="#" th:href="@{/admin/unblock/{username}(username=*{username})}">Unblock</a></td>
                    <td><a href="#" th:href="@{/admin/delete/{username}(username=*{username})}">Delete</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div> <!-- fragment.content -->

</body>
</html>