<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/layout}">
<head>
    <title>Home Page</title>
</head>

<body>

    <div class="col" layout:fragment="content">

        <div>
            <a href="#" th:href="@{/users/total}">All users total list</a>
        </div>
        <div>
            <a href="#" th:href="@{/users/all}">All users</a>
        </div>
        <div>
            <a href="#" th:href="@{/users/blocked}">Blocked Users</a>
        </div>
        <div>
            <a href="#" th:href="@{/users/notActivated}">Not Activated Users</a>
        </div>
        <div>
                <form th:action="@{/users/search}" method="post">
                    <input type="search" name="username">
                    <input type="submit" value="Search" class="btn-info">
                </form>
        </div>

        <div>
            <form th:action="@{/users/byRole}" method="post">
                <select name="role">
<!--  The T operator is part of the Spring Expression Language for specifying an instance of a class or accessing static methods.-->
                    <option th:each="roles : ${T(org.example.auth.domain.Role).values()}"
                            th:value="${roles}" th:text="${roles}"></option>
                </select>

                <input type="submit" value="Search" class="btn-danger">
            </form>
        </div>

    </div> <!-- fragment.content -->

</body>
</html>