<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/layout}">
<head>
    <title>Home Page</title>
</head>

<body>

    <div class="col" layout:fragment="content">

        <div>
            <div>
                <p> File name: <b th:text="${document.name}">example.txt</b>
                <p>Uploaded by <b th:text="${document.createdBy.getUsername()}">username</b>
                    <a href="#" th:href="@{/doc/download/{id}(id=${document.docId})}"> Download</a>
            </div>
        </div>

        <iframe width="100%" height="750"
                src="http://www.africau.edu/images/default/sample.pdf"
                th:src="${document.getRawFile()}">

            document preview WIP <br><br>
            https://poi.apache.org/download.html <br>
            https://github.com/mozilla/pdf.js
        </iframe>

    </div> <!-- fragment.content -->

</body>
</html>





