<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/layout}">
<head>
    <title>Home Page</title>
</head>

<body>

    <div class="col" layout:fragment="content">

        <div>
            <div>
                <table class="documentList" border="2">
                    <thead align="center">
                    <tr>
                        <!--    todo change text to icons    -->
                        <!--        todo contant width to proportions-->
                        <th width="100">file type</th>
                        <th width="300">File name</th>
                        <th width="100">Upload Date</th>
                        <th width="100">Upload Time</th>
                        <th width="100">size</th>
                        <th width="200">Author</th>
                        <th width="80">Open</th>
                        <th width="80">Download</th>
                        <th width="80">Delete</th>
                        <!--    Просмотры:25501-->
                        <!--    Скачана:2307 раз-->
                    </tr>
                    </thead>
                    <tbody align="center" th:each="document : ${documentList}">
                    <tr th:object="${document}">
                        <!--     todo   picture depends on mediaType -->
                        <td th:text="*{mediaType}">file type</td>
                        <td th:text="*{name}">695462.pdf</td>
                        <td th:text="*{createdAt.toLocalDate()}">Upload Date</td>
                        <!--     todo    format time to delete nanos -->
                        <td th:text="*{createdAt.toLocalTime()}">Upload Time</td>
                        <td th:text="*{size}">size</td>
                        <td th:text="*{createdBy.getUsername()}">Jeb</td>
                        <td><a href="../templates/document.html" th:href="@{/doc/{id}(id=*{docId})}">Open</a></td>
                        <td><a href="#" th:href="@{/doc/download/{id}(id=*{docId})}" download>Download</a></td>
                        <td><a href="../templates/documentList.html"
                               th:href="@{/doc/delete/{id}(id=*{docId})}">Delete</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <br>
                <form th:action="@{/doc/add}" action="#" method="post" enctype="multipart/form-data">
                    <p>Upload file (max size 300mb)</p>
                    <div class="form-group">
                        <div class="custom-file">
                            <input type="file" name="file" id="customFile" placeholder="choose">
                            <label class="custom-file-label" for="customFile">Choose file</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Send</button>
                    </div>
                </form>
            </div>
        </div>

    </div> <!-- fragment.content -->

</body>
</html>