<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:object="${document}">
saved
</div>
<!--<li th:each="user : ${users}">-->
<!--    <div th:object="${user}">-->
<!--        <span th:text="*{name}"> Jeb </span>-->
<!--        <span th:text="*{email}"> example@mail.com </span>-->
<!--        <span th:text="*{userId}"> h1sHhs5GADAda5da4 </span>-->
<!--        <span th:text="*{registerDate}"> 18/05/2020 </span>-->
<!--        <span th:text="*{role}"> ADMIN </span>-->
<!--    </div>-->





    <!--    <span th:text="${user.name}" >-->
    <!--        John Doe-->
    <!--    </span>-->
<!--</li>-->
</body>
</html>