<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/layout}">
<head>
    <title>Home Page</title>

    <!-- CSS and Bootstrap -->
    <link rel="icon" href="../static/assets/img/favicon.ico"/>
    <link rel="stylesheet" href="../static/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/assets/css/style.css">

</head>

<body>

<div class="container">
    <div class="col" layout:fragment="content">

        <div>
            <div align="center">Forget pass</div>
            <form align="center" action="#" th:action="/forgetPassword" method="post">
                <label for="username">Username</label>
                <input name="username" type="text" id="username" placeholder="Enter username here" required autofocus>
                <button type="submit" class="btn btn-dark">Submit</button>
            </form>
        </div>

    </div> <!-- fragment.content -->
</div>

</body>
</html>