<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
        layout:decorate="~{layouts/layout}">
<head>
    <title>Home Page</title>
</head>

<body>

        <div class="col" layout:fragment="content">
            <h1>Welcome to the Index page</h1>
            <br>This content is replacing the content of the layout:fragment="content"<br>
            placeholder in layout.html</p>
        </div> <!-- fragment.content -->

</body>
</html>