<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>

<div>
    <div>
        <p> Мы отправили электронное письмо по адресу</p>


        <p><strong th:text="${email}">Example@email.com</strong></p>
        <p> Нажмите по ссылке подтверждения в электронном письме, чтобы приступить к использованию сервиса.</p>
    </div>
    <div>
        <p> Если вы не получили электронное уведомление, </p>
        <p>
            <a href="#" th:href="@{/resendActivationCode/{email}(email=${email})}">Отправить уведомление еще раз</a>
        </p>
    </div>

</div>
</body>
</html>