<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/layout}">
<head>
    <title>User list</title>

    <!-- CSS and Bootstrap -->
    <link rel="icon" href="../static/assets/img/favicon.ico"/>
    <link rel="stylesheet" href="../static/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/assets/css/style.css">

</head>

<body>

<div class="container">
    <div class="col" layout:fragment="content">
        <table class="users" border="2">
            <thead align="center">
            <tr>
                <!--    todo change text to icons    -->
                <!--        todo contant width to proportions-->
                <th width="300">User name</th>
                <th width="100">Registered Date</th>
                <th width="100">Document uploaded</th>
                <th width="100">Roles</th>
                <th width="80">Open Profile</th>
                <th width="80">Block</th>
                <th width="80">Unblock</th>
                <th width="80">Delete</th>

            </tr>
            </thead>
            <tbody align="center" th:each="user : ${userList}">
            <tr th:object="${user}">
                <td th:text="*{username}">Kerman</td>
                <td th:text="*{registrationDate}">15.11.2008</td>
                <td th:text="*{createdDocuments.size()}">10</td>
                <td th:text="*{roles}">USER</td>
                <td><a href="../templates/profile.html" th:href="@{/user/{username}(username=*{username})}">Open</a>
                </td>
                <td><a href="#" sec:authorize="hasAuthority('ADMIN')"
                       th:href="@{/admin/block/{username}(username=*{username})}">Block</a></td>
                <td><a href="#" sec:authorize="hasAuthority('ADMIN')"
                       th:href="@{/admin/unblock/{username}(username=*{username})}">Unblock</a></td>
                <td><a href="#" sec:authorize="hasAuthority('ADMIN')"
                       th:href="@{/admin/delete/{username}(username=*{username})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div> <!-- fragment.content -->
</div>

</body>
</html>